/* .logo {
  height: 5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* .hero-image-background {
  background-image: url("./img/welder.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.01rem;
} */

/* .hero-stats {
  display: flex; 
  height: 7em;
  background: #333;
  padding: 0.5em 0; 
  justify-content: center;
  align-items: center; 
}

.card-stats {
  flex: 1; 
  color: #ff3e3e; 
  font-size: 2.5em;
  font-weight: bold; 
  margin: 0 1em; 
  text-transform: uppercase; 
  position: relative; 
} */

/* .card-stats::before,
.card-stats::after {
  content: ""; 
  position: absolute; 
  top: 50%;
  width: 1px; 
  height: 60%; 
  background: #555; 

.card-stats::before {
  left: 0; 
}

.card-stats::after {
  right: 0; 
}


.card-stats:first-child::before,
.card-stats:last-child::after {
  content: none;
} */

/* .card-stats::after {
  content: attr(data-subtitle); 
  bottom: -1.5em; 
  left: 0;
  right: 0;
  font-size: 0.2em; 
  color: white;
  font-weight: normal; 
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40%;
  background-color: #000000;
} */

/* .metallic-gradient-text {
  background: linear-gradient(
    to right,
    rgb(155, 154, 158),
    rgb(170, 169, 173),
    rgb(185, 184, 188)
  );
  -webkit-background-clip: text; 
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
  display: inline;
}

body {
  background-color: #000000;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
} */

/* General Body Styling */
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

/* Slide-In and Slide-Out Animations */
.slide-in,
.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
}

.slide-in {
  transform-origin: bottom;
}

.slide-out {
  transform-origin: top;
}
